<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key = "Excel03ConString" value = "Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add key = "Excel07ConString" value = "Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add key = "ConnString" value = "Data Source=IMPINGE57;Database=Nowa_firma;User Id=sa;password=Impinge250"/>

  </appSettings>
</configuration>